<section class="hero">

  <div class="overlay">

    <div class="hero-content">

      <span class="tag">
        Premium Car Rental Service
      </span>

      <h1>
        Drive Your Dream Car <br>
        With <span>Rentigo</span>
      </h1>

      <p>
        Luxury cars, affordable prices, premium comfort,
        and seamless booking experience.
      </p>

      <div class="hero-buttons">

        <a routerLink="/cars" class="primary-btn">
          Explore Cars
        </a>

        <a routerLink="/booking" class="secondary-btn">
          Book Now
        </a>

      </div>

      <div class="stats">

        <div class="stat-box">
          <h2>500+</h2>
          <span>Cars</span>
        </div>

        <div class="stat-box">
          <h2>10K+</h2>
          <span>Customers</span>
        </div>

        <div class="stat-box">
          <h2>24/7</h2>
          <span>Support</span>
        </div>

      </div>

    </div>

    <div class="hero-image">

      <img
        src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=1400&auto=format&fit=crop"
        alt="Luxury Car"
      >

    </div>

  </div>

</section>